<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/leaderboard.css">
        <title>Ranks</title>
    </head>
    <body>
        <div class="container">
            <h1>Ranks</h1>
            <table id="ranks">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Badge</th>
                        <th>Bitpoint Requirement</th>
                    </tr>
                </thead>
                <tbody>
                    <% ranks.forEach(rank => { %>
                        <tr>
                            <td><%= rank.name %></td>
                            <td>
                                <img src="https://raw.githubusercontent.com/Obijuan/digital-electronics-with-open-FPGAs-tutorial/master/rangos/png/<%= rank.icon %>" alt="<%= rank.name %> Badge" width="50">
                            </td>
                            <td><%= rank.bitpoints_min %> - <%= rank.bitpoints_max %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </body>
</html>